.password-config-footer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

@media (max-width: 576px) {
  .password-config-footer {
    display: flex;
    justify-content: center;
  }
}
